.list {
    color:white;
    width: 300px;
    background-color: #46b8da;
    height: 50px;
    border-radius: 5px;
    font-size: 25px;
    padding: 0px 15px;
    list-style:none;
}
.list p{
    padding: 10px;
    
}
.list span{
    margin-top:16px;
}
.deleteMe{
    float:right;
    cursor:pointer;
}

.list input{
    background-color:transparent;
    color:white;
    margin: 0px;
    border:0;
    font-size:18px;
}
.list input:focus{
    outline:none;
}

#list_items .listDiv{
    margin-bottom:10px;
}